<!DOCTYPE html>

<html lang="fr">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{{ asset("css/layout.css") }}" rel="stylesheet">

    {% block stylesheets %}
    {% endblock %}


    <title>SnowTricks</title>
</head>

<body>
<div class="container_fluid">
    <h1 id="title">SnowTricks</h1>

    {% include "menu.html.twig" %}

    {% for message in app.session.flashbag.get('info') %}

        <div class="alert alert-info">
            {{ message }}
        </div>

    {% endfor %}

    <div class="row">
        <div class="col-sm-3">

            {{ render(controller('AppBundle:Default:news')) }}

        </div>

        <div class="body col-sm-9">

            {% block body %}
            {% endblock %}

        </div>
    </div>
</div>


{% block scripts %}
{% endblock %}
</body>


</html>