<!DOCTYPE html>

<html lang="fr">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{{ asset("css/layout.css") }}" rel="stylesheet">

    {% block stylesheets %}
    {% endblock %}


    <title>SnowTricks</title>
</head>

<body>
<div class="container-fluid">

    <div class="row">
        <h1 id="title_lg" class="col-sm-push-2 col-sm-8">SnowTricks</h1>

        <div id="login_user_sm" class="col-sm-push-2 col-sm-2">

            {% include ":login:btn_user.html.twig" %}

        </div>


    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 menu">
            {{ render(controller("AppBundle:Default:menu")) }}
        </div>

    </div>

    <div id="login_user_xs" class="col-sm-push-2 col-sm-2">

        {% include ":login:btn_user.html.twig" %}

    </div>


    {% for message in app.session.flashbag.get('info') %}

        <div id="alert" class="alert alert-info">
            {{ message }}
        </div>

    {% endfor %}

    <div class="row">
        <div id="news" class="col-sm-3">

            {{ render(controller('AppBundle:Default:news')) }}

        </div>

        <div class="body col-sm-9">

            {% block body %}
            {% endblock %}

        </div>
    </div>
</div>

{% block scripts %}
{% endblock %}
</body>


</html>