{% extends "::layout.html.twig" %}

{% block body %}
    <div class="lexique">

        <h3>Lexique</h3>

        <p>
            Le snowboard freestyle consiste à effectuer en snowboard des sauts à partir de différentes structures en
            neige ou en métal appelées modules, puis d'accomplir en l'air des figures, dits tricks, avant d'attérir,
            c'est-à-dire retomber sur la planche (ou board) en position normal ou switch.<br><br>

            Le but recherché est multiple : performance, esthétique du saut, sensations lors du vol, spectacle.<br><br>

            Le freestyle backcountry désigne une pratique de la discipline en dehors des pistes de skis. Il s'agit de
            pratiquer le freestyle lors d'un run de hors-piste agrémenté de sauts de corniches ou barre rocheuses, dans
            des espaces vierges.
        </p>
    </div>
{% endblock %}
