{% extends "::layout.html.twig" %}

{% block body %}

    <div id="mentions_legales">

        <h4>EDITEUR :</h4>

        <p>
            Nicolas BOSTJANCIC<br>
            06.89.85.82.69<br>
            nicolas.bostjancic@gmail.com<br>
        </p>

    </div>

{% endblock %}