<!DOCTYPE html>

<html lang="fr">


<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% block stylesheets %}
    {% endblock %}

    <title>SnowTricks</title>

</head>


<body>


{% block body %}
{% endblock %}

</body>


</html>