#figure {
    text-align: center;
}

.name_figure {
    color: #0088CC;
    font-weight: bold;
    border-top: solid;
    border-color: black;
    padding-top: 1%;
}

.group_figure {
    text-align: left;
}

#video_view{
    float: left;
}

#carousel{
    margin: auto;
    width: 80%;
}

.carousel-inner img{
    margin: auto;
}

fieldset {
    border: 0.2em solid black;
    border-radius: 0.3em;
    padding: 1%;
    margin: auto;
}

legend {
    color: #0088CC;
    border-bottom: none;
    font-weight: bold;
    font-size: large;
    position: relative;
    left: 0.2em;
    width: auto;
    padding: 1%;
    margin-bottom: 1%;
}

#comment_form_figure{
    margin-bottom: 5%;
}

#appbundle_comment_content{
    resize: vertical;
}

#comments_post_figure{
    text-align: left;
    border: 0.2em solid black;
    border-radius: 0.3em;
}

.comment_figure{
    border-top: 0.05em solid black;
    margin: 0 3% 4% 3%;

}

.comment_auteur_figure{
    color: #0088CC;
    font-weight: bold;
    margin-bottom: 0;
}

.comment_auteur_figure > em{
    color: black;
    font-style: italic;
    font-weight: normal;
    font-size: smaller;
}

.comment_content_figure{
    margin-bottom: 1%;
}

#btn_valid_form{
    padding: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    font-weight: bold;
    font-size: larger;
}

#comments_post_figure > span{
    padding: 0 1% 0 1%;
    background-color: white;
    color: #0088CC;
    font-weight: bold;
    font-size: large;
    position: relative;
    bottom: 0.85em;
    left: 0.5em;
}

#comments_empty_figure{
    text-align: center;
}

#comment_pagination{
    text-align: center;
}

.comment_avatar{
    text-align: center;
}